
@*@model BannersApp.Models.BannerViewModel

<tr class="success">
    
    <td class="vert-align">@Model.Id</td>
    <td class="vert-align">@Model.Name</td>
    <td class="vert-align"><img src="@Model.ImageAddress" /></td>
    <td class="vert-align">@Model.ValidFrom</td>
    <td class="vert-align">@Model.ValidTo</td>
    <td class="vert-align"></td>
</tr>*@
